{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<h3>Редактируемые вопросы и ответы</h3>
    <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ wizard.form.management_form }}
        {% for field in wizard.form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            <br>
        {% endfor %}
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
        {% endif %}
        <input type="submit" value="{% translate "submit" %}"/>
    </form>
{% endblock %}
